.header{
	
	background-color: #66B2FF;
	height: 100px;
	width: 100%;
	text-align: center;
	color:white;
	display:inline-block;
	font-weight: 500;
}

.main{
	position:relative;
	left:250px;
}
.search{
	display: inline;

}
input.tb{
	width: 50%;
	height: 40px;
}
hr{
width: 60%;
}

.btn{
height: 45px;
background-color: red;
color:white;
border-radius: 10%;
}
